In [ ]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv('datasets/players.csv')
df2 = pd.read_csv('datasets/players_teams.csv')
df3 = pd.read_csv('datasets/awards_players.csv')
df4 = pd.read_csv('datasets/teams.csv')
df5 = pd.read_csv('datasets/teams_post.csv')
df6 = pd.read_csv('datasets/coaches.csv')
df7 = pd.read_csv('datasets/series_post.csv')

def corrige_vencedor(teams, series_post):
    # Itera sobre cada rodada ('F', 'CF', 'FR') para ajustar cada fase dos playoffs
    for round_type in ['FR', 'CF', 'F']:
        # Filtra a série específica da rodada
        series_round = series_post[series_post['round'] == round_type]
        
        # Atualiza cada série individualmente
        for _, row in series_round.iterrows():
            year = row['year']
            winner_id = row['tmIDWinner']
            loser_id = row['tmIDLoser']
            
            # Define as colunas que correspondem às rodadas
            if round_type == 'FR':
                round_column = 'firstRound'
            elif round_type == 'CF':
                round_column = 'semis'
            elif round_type == 'F':
                round_column = 'finals'
            
            # Marca o time vencedor como "W" na rodada correspondente
            teams.loc[(teams['year'] == year) & (teams['tmID'] == winner_id), round_column] = 'W'
            
            # Marca o time perdedor como "L" na rodada correspondente
            teams.loc[(teams['year'] == year) & (teams['tmID'] == loser_id), round_column] = 'L'
    
    return teams

teams_file = corrige_vencedor(df4, df7)

players_teams_file = df2.drop(columns=['lgID'])
players_file = df1[df1['pos'].notna() & (df1['pos'] != '')]
players_file = players_file.drop(columns=['firstseason', 'lastseason', 'deathDate', 'collegeOther'])
players_file['college'] = players_file['college'].apply(lambda x: 1 if pd.notnull(x) else 0)
merged_df = pd.merge(players_teams_file, players_file, left_on='playerID', right_on='bioID', how='left')
merged_df = merged_df.drop(columns=['bioID'])
awards_players_file = df3.drop(columns=['lgID'])
teams_file = df4.drop(columns=['lgID', 'divID', 'tmORB','tmDRB','tmTRB','opptmORB','opptmDRB','opptmTRB'])
teams_file['playoff'] = teams_file['playoff'].apply(lambda x: 1 if x=='Y' else 0)

team_post_file = df5.drop(columns=['lgID'])
series_post_file = df7.drop(columns=['lgIDWinner', 'lgIDLoser'])
coaches_file = df6.drop(columns=['lgID'])


awards_grouped = awards_players_file.groupby(['playerID', 'year'])['award'].apply(list).reset_index()

merged_df = pd.merge(merged_df, awards_grouped, on=['playerID', 'year'], how='left')
merged_df = pd.merge(merged_df, teams_file, on=['tmID','year'], how = 'left')

merged_df = merged_df.drop(columns=['franchID', 'name'])

merged_df = pd.merge(merged_df, team_post_file, on=['tmID','year'], how = 'left')

print(merged_df)
merged_df.head()

        playerID  year  stint tmID  GP_x  GS  minutes  points  oRebounds  \
0     abrossv01w     2      0  MIN    26  23      846     343         43
1     abrossv01w     3      0  MIN    27  27      805     314         45
2     abrossv01w     4      0  MIN    30  25      792     318         44
3     abrossv01w     5      0  MIN    22  11      462     146         17
4     abrossv01w     6      0  MIN    31  31      777     304         29
...          ...   ...    ...  ...   ...  ..      ...     ...        ...
1871  zakalok01w     3      2  PHO     5   0       37       6          0
1872   zarafr01w     6      0  SEA    34   4      413      90         11
1873  zellosh01w    10      0  DET    34   4      802     406         25
1874  zirkozu01w     4      0  WAS     6   0       30      11          0
1875   zollsh01w     9      0  MIN     6   0       30      10          1

      dRebounds  ...  homeL  awayW  awayL  confW  confL   min  attend  \
0           131  ...     10      6     10      9     12  6475  120607
1           101  ...      9      3     13      6     15  6475  139874
2            97  ...      6      7     10     14     10  6850  120253
3            57  ...      6      7     10     12     10  6850  125097
4            78  ...      6      3     14      9     13  6850  113447
...         ...  ...    ...    ...    ...    ...    ...   ...     ...
1871          3  ...      6      1     15      7     14  6400  139798
1872         28  ...      3      6     11     13      9  6825  151150
1873         81  ...      6      7     10     11     11  6975  136069
1874          2  ...     14      6     11      7     17  6875  238710
1875          2  ...      8      7     10      8     12  6900  118463

                           arena    W    L
0                  Target Center  NaN  NaN
1                  Target Center  NaN  NaN
2                  Target Center  1.0  2.0
3                  Target Center  0.0  2.0
4                  Target Center  NaN  NaN
...                          ...  ...  ...
1871           US Airways Center  NaN  NaN
1872  KeyArena at Seattle Center  1.0  2.0
1873  The Palace of Auburn Hills  3.0  2.0
1874              Verizon Center  NaN  NaN
1875               Target Center  NaN  NaN

[1876 rows x 99 columns]

,playerID,year,stint,tmID,GP_x,GS,minutes,points,oRebounds,dRebounds,...,homeL,awayW,awayL,confW,confL,min,attend,arena,W,L
0,abrossv01w,2,0,MIN,26,23,846,343,43,131,...,10,6,10,9,12,6475,120607,Target Center,NaN,NaN
1,abrossv01w,3,0,MIN,27,27,805,314,45,101,...,9,3,13,6,15,6475,139874,Target Center,NaN,NaN
2,abrossv01w,4,0,MIN,30,25,792,318,44,97,...,6,7,10,14,10,6850,120253,Target Center,1.0,2.0
3,abrossv01w,5,0,MIN,22,11,462,146,17,57,...,6,7,10,12,10,6850,125097,Target Center,0.0,2.0
4,abrossv01w,6,0,MIN,31,31,777,304,29,78,...,6,3,14,9,13,6850,113447,Target Center,NaN,NaN

In [ ]:
awards_coaches_file = df3.rename(columns={'playerID': 'coachID'})
coach_awards = awards_coaches_file[awards_coaches_file['award'] == 'Coach of the Year']
coach_awards_grouped = coach_awards.groupby(['coachID', 'year'])['award'].apply(list).reset_index()
coaches_file = pd.merge(coaches_file, coach_awards_grouped, on=['coachID', 'year'], how='left')

print(coaches_file)
coaches_file.head(50)

        coachID  year tmID  stint  won  lost  post_wins  post_losses award
0    adamsmi01w     5  WAS      0   17    17          1            2   NaN
1    adubari99w     1  NYL      0   20    12          4            3   NaN
2    adubari99w     2  NYL      0   21    11          3            3   NaN
3    adubari99w     3  NYL      0   18    14          4            4   NaN
4    adubari99w     4  NYL      0   16    18          0            0   NaN
..          ...   ...  ...    ...  ...   ...        ...          ...   ...
157  wintebr01w     6  IND      0   21    13          2            2   NaN
158  wintebr01w     7  IND      0   21    13          0            2   NaN
159  wintebr01w     8  IND      0   21    13          3            3   NaN
160  zierddo99w     8  MIN      0   10    24          0            0   NaN
161  zierddo99w     9  MIN      0   16    18          0            0   NaN

[162 rows x 9 columns]

,coachID,year,tmID,stint,won,lost,post_wins,post_losses,award
0,adamsmi01w,5,WAS,0,17,17,1,2,NaN
1,adubari99w,1,NYL,0,20,12,4,3,NaN
2,adubari99w,2,NYL,0,21,11,3,3,NaN
3,adubari99w,3,NYL,0,18,14,4,4,NaN
4,adubari99w,4,NYL,0,16,18,0,0,NaN
5,adubari99w,5,NYL,1,7,9,0,0,NaN
6,adubari99w,6,WAS,0,16,18,0,0,NaN
7,adubari99w,7,WAS,0,18,16,0,2,NaN
8,adubari99w,8,WAS,1,0,4,0,0,NaN
9,aglerbr99w,1,MIN,0,15,17,0,0,NaN
10,aglerbr99w,2,MIN,0,12,20,0,0,NaN
11,aglerbr99w,3,MIN,1,6,13,0,0,NaN
12,aglerbr99w,9,SEA,0,22,12,1,2,NaN
13,aglerbr99w,10,SEA,0,20,14,1,2,NaN
14,allenso99w,1,SAC,0,21,11,0,2,NaN
15,allenso99w,2,SAC,1,6,6,0,0,NaN
16,bibbyhe01w,6,LAS,1,13,15,0,0,NaN
17,boguemu01w,6,CHA,2,3,7,0,0,NaN
18,boguemu01w,7,CHA,0,11,23,0,0,NaN
19,bouceje01w,8,SAC,0,19,15,1,2,NaN
20,bouceje01w,9,SAC,0,18,16,1,2,NaN
21,bouceje01w,10,SAC,1,3,10,0,0,NaN
22,brownde01w,3,ORL,0,16,16,0,0,NaN
23,brownde01w,5,SAS,2,6,20,0,0,NaN
24,bryanjo01w,6,LAS,2,4,2,0,2,NaN
25,bryanjo01w,7,LAS,0,25,9,2,3,NaN
26,chancva99w,1,HOU,0,27,5,6,0,NaN
27,chancva99w,2,HOU,0,19,13,0,2,NaN
28,chancva99w,3,HOU,0,24,8,1,2,NaN
29,chancva99w,4,HOU,0,20,14,1,2,NaN
30,chancva99w,5,HOU,0,13,21,0,0,NaN
31,chancva99w,6,HOU,0,19,15,2,3,NaN
32,chancva99w,7,HOU,0,18,16,0,2,NaN
33,coopecy01w,2,PHO,0,13,19,0,0,NaN
34,coopecy01w,3,PHO,1,6,4,0,0,NaN
35,coopemi01w,1,LAS,0,28,4,2,2,[Coach of the Year]
36,coopemi01w,2,LAS,0,28,4,6,1,NaN
37,coopemi01w,3,LAS,0,25,7,6,0,NaN
38,coopemi01w,4,LAS,0,24,10,5,4,NaN
39,coopemi01w,5,LAS,1,14,6,0,0,NaN
40,coopemi01w,8,LAS,0,10,24,0,0,NaN
41,coopemi01w,9,LAS,0,20,14,3,3,NaN
42,coopemi01w,10,LAS,0,18,16,3,3,NaN
43,cowenda01w,7,CHI,0,5,29,0,0,NaN
44,coylepa99w,5,NYL,2,11,7,2,3,NaN
45,coylepa99w,6,NYL,0,18,16,0,2,NaN
46,coylepa99w,7,NYL,0,11,23,0,0,NaN
47,coylepa99w,8,NYL,0,16,18,1,2,NaN
48,coylepa99w,9,NYL,0,19,15,3,3,NaN
49,coylepa99w,10,NYL,1,6,11,0,0,NaN

In [ ]:
avg_oRebounds_by_pos = merged_df.groupby('pos')['oRebounds'].mean().reset_index()
avg_dRebounds_by_pos = merged_df.groupby('pos')['dRebounds'].mean().reset_index()

print('--------------------')
print(avg_oRebounds_by_pos)
print('--------------------')
print(avg_dRebounds_by_pos)

--------------------
   pos  oRebounds
0    C  27.624031
1  C-F  46.208333
2    F  30.177606
3  F-C  39.971751
4  F-G  23.400000
5    G  13.301973
6  G-F  22.674699
--------------------
   pos  dRebounds
0    C  59.895349
1  C-F  68.395833
2    F  62.218147
3  F-C  73.440678
4  F-G  71.220000
5    G  38.188164
6  G-F  55.668675

In [ ]:
merged_df = merged_df.drop(columns=['rebounds', 'PostRebounds'])
merged_df = merged_df.rename(columns={'GP_x': 'GP_player', 'GP_y': 'GP_team'})

In [ ]:
grouped = merged_df.groupby('year').agg({
    'o_pts': 'sum',
    'o_fga': 'sum',
    'o_oreb': 'sum',
    'o_to': 'sum',
    'o_fta': 'sum',
    'o_asts': 'sum',
    'o_fgm' : 'sum',
    'o_ftm': 'sum',
    'o_dreb':'sum',
}).reset_index()

grouped['VOP'] = grouped['o_pts'] / (grouped['o_fga'] - grouped['o_oreb'] + grouped['o_to'] + 0.44 * grouped['o_fta'])
grouped['factor'] = (2 / 3) - (0.5 * (grouped['o_asts'] / grouped['o_fgm'])) / (2 * (grouped['o_fgm'] / grouped['o_ftm']))
grouped['DRB%'] = (grouped['o_dreb'] - grouped['o_oreb']) / grouped['o_dreb']

uPER_df = merged_df.groupby(['playerID', 'year']).agg({
    'minutes': 'sum',     
    'threeMade': 'sum',   
    'assists': 'sum',     
    'fgMade': 'sum',      
    'ftMade': 'sum',      
    'turnovers': 'sum',   
    'fgAttempted': 'sum', 
    'ftAttempted': 'sum', 
    'dRebounds': 'sum',   
    'oRebounds': 'sum',   
    'steals': 'sum',      
    'blocks': 'sum',      
    'PF': 'sum'           
}).reset_index()

uPER_df = uPER_df.merge(grouped[['year', 'VOP', 'factor', 'DRB%']], on='year')

uPER_df['TRB'] = uPER_df['dRebounds'] + uPER_df['oRebounds']

uPER_df['uPER'] = (1 / uPER_df['minutes']) * (
    uPER_df['threeMade'] +
    (2/3) * uPER_df['assists'] +
    (2 - uPER_df['factor'] * (uPER_df['assists'] / uPER_df['fgMade'])) * uPER_df['fgMade'] +
    (uPER_df['ftMade'] * 0.5 * (1 + (1 - (uPER_df['assists'] / uPER_df['fgMade'])) + (2/3) * (uPER_df['assists'] / uPER_df['fgMade']))) -
    uPER_df['VOP'] * uPER_df['turnovers'] -
    uPER_df['VOP'] * uPER_df['DRB%'] * (uPER_df['fgAttempted'] - uPER_df['fgMade']) -
    uPER_df['VOP'] * 0.44 * (0.44 + (0.56 * uPER_df['DRB%'])) * (uPER_df['ftAttempted'] - uPER_df['ftMade']) +
    uPER_df['VOP'] * (1 - uPER_df['DRB%']) * uPER_df['TRB'] +
    uPER_df['VOP'] * uPER_df['DRB%'] * uPER_df['oRebounds'] +
    uPER_df['VOP'] * uPER_df['steals'] +
    uPER_df['VOP'] * uPER_df['DRB%'] * uPER_df['blocks'] -
    uPER_df['PF'] * ((grouped['o_ftm'].mean() / grouped['o_pts'].mean()) - 0.44 * (grouped['o_fta'].mean() / grouped['o_pts'].mean()) * uPER_df['VOP'])
)

lg_uPER = uPER_df.groupby('year')['uPER'].mean().reset_index()
lg_uPER.rename(columns={'uPER': 'lg_uPER'}, inplace=True)

uPER_df = uPER_df.merge(lg_uPER, on='year')

uPER_df['PER'] = uPER_df['uPER'] * (15 / uPER_df['lg_uPER'])

print(uPER_df[['playerID', 'year', 'uPER', 'PER']])

        playerID  year      uPER        PER
0     abrossv01w     2  0.349958  19.293262
1     abrossv01w     3  0.295415  15.898093
2     abrossv01w     4  0.328919  18.485960
3     abrossv01w     5  0.258967  14.545585
4     abrossv01w     6  0.303834  18.086335
...          ...   ...       ...        ...
1800  zakalok01w     3  0.039552   2.128553
1801   zarafr01w     6  0.142371   8.474937
1802  zellosh01w    10  0.370957  17.561618
1803  zirkozu01w     4  0.277055  15.571097
1804   zollsh01w     9  0.174661   8.814235

[1805 rows x 4 columns]

In [ ]:
per_to_merge = uPER_df[['playerID', 'year', 'PER']]
merged_df = merged_df.merge(per_to_merge, on=['playerID', 'year'], how='left')

merged_df['TS%'] = (merged_df['points'] / (2 * (merged_df['fgAttempted'] + 0.44 * merged_df['ftAttempted'])))*100
merged_df['eFG%'] = ((merged_df['fgMade'] + 0.5 * merged_df['threeMade']) / merged_df['fgAttempted'])*100

merged_df['PER'] = merged_df['PER'].fillna(0)
merged_df['TS%'] = merged_df['TS%'].fillna(0)
merged_df['eFG%'] = merged_df['eFG%'].fillna(0)

#Equipas que não foram aos playoffs
merged_df['W'] = merged_df['W'].fillna(0)
merged_df['L'] = merged_df['L'].fillna(0)


merged_df.head()

,playerID,year,stint,tmID,GP_player,GS,minutes,points,oRebounds,dRebounds,...,confW,confL,min,attend,arena,W,L,PER,TS%,eFG%
0,abrossv01w,2,0,MIN,26,23,846,343,43,131,...,9,12,6475,120607,Target Center,0.0,0.0,19.293262,48.849265,42.150171
1,abrossv01w,3,0,MIN,27,27,805,314,45,101,...,6,15,6475,139874,Target Center,0.0,0.0,15.898093,42.774629,40.822785
2,abrossv01w,4,0,MIN,30,25,792,318,44,97,...,14,10,6850,120253,Target Center,1.0,2.0,18.485960,48.457881,43.684211
3,abrossv01w,5,0,MIN,22,11,462,146,17,57,...,12,10,6850,125097,Target Center,0.0,2.0,14.545585,45.842753,42.446043
4,abrossv01w,6,0,MIN,31,31,777,304,29,78,...,9,13,6850,113447,Target Center,0.0,0.0,18.086335,49.331429,45.471014

In [ ]:
def box_plot_for_each_column(dataset):
    numeric_columns = dataset.select_dtypes(include='number')
    if numeric_columns.empty:
        print("No numeric columns found in the dataset.")
    else:
        numeric_columns.boxplot(figsize=(10, 6))
        plt.title("Boxplot for all numeric columns")
        plt.xticks(rotation=45)  # Rotation in x, if necessary
        plt.show()

def pearson_correlation(dataset, size_x, size_y):
    numeric_columns = dataset.select_dtypes(include='number')
    
    if numeric_columns.empty:
        print("Nenhuma coluna numérica encontrada no dataset.")
    else:
        # Correlation matrix
        correlation_matrix = numeric_columns.corr()

        # View
        plt.figure(figsize=(size_x, size_y))
        sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
        plt.title('Pearson-correlation')
        plt.show()

def bar_chart_for_each_column(dataset):
    non_numeric_columns = dataset.select_dtypes(exclude='number')
    if non_numeric_columns.empty:
        print("Any non-numeric columns found in the dataset.")
    else:
        for column in non_numeric_columns.columns:
            value_counts = non_numeric_columns[column].value_counts()
            plt.figure(figsize=(10, 6))
            value_counts.plot(kind='bar')
            plt.title(f"Bar chart for '{column}'")
            plt.xlabel(column)
            plt.ylabel("Count")
            plt.xticks(rotation=45)
            plt.tight_layout()  # Adjust layout to prevent overlap
            plt.show()

# Pie-chart for each column
def pie_chart_for_each_column(dataset):
    non_numeric_columns = dataset.select_dtypes(exclude='number')
    
    if non_numeric_columns.empty:
        print("Any non-numeric columns found in the dataset.")
    else:
        for column in non_numeric_columns.columns:
            # Count elements from different categories
            category_counts = dataset[column].value_counts()
            
            # Pie-chart
            plt.figure(figsize=(6, 6))
            category_counts.plot.pie(autopct='%1.1f%%', startangle=140)
            plt.title(f'Distribution of {column}')
            plt.ylabel('')  # Remove o rótulo do eixo Y
            plt.show()


#box_plot_for_each_column(merged_df)
#box_plot_for_each_column(coaches_file)
#box_plot_for_each_column(series_post_file)

In [ ]:
#pearson_correlation(merged_df, 100, 80)
#pearson_correlation(coaches_file, 8, 6)
#pearson_correlation(series_post_file, 8, 6)

In [ ]:
#bar_chart_for_each_column(merged_df)
#bar_chart_for_each_column(coaches_file)
#bar_chart_for_each_column(series_post_file)

In [ ]:
#pie_chart_for_each_column(merged_df)
#pie_chart_for_each_column(coaches_file)
#pie_chart_for_each_column(series_post_file)

In [ ]:
def replaceGameResults(column):
    return column.apply(lambda value: '100' if value == 'W' else '010' if value == 'L' else '001')

# Aplicar a função para cada coluna específica
merged_df['firstRound'] = replaceGameResults(merged_df['firstRound'])
merged_df['semis'] = replaceGameResults(merged_df['semis'])
merged_df['finals'] = replaceGameResults(merged_df['finals'])

In [ ]:
if not os.path.exists('cleanDatasets'):
    os.makedirs('cleanDatasets')

merged_df.to_csv('cleanDatasets/players_and_teams.csv', index=False)
coaches_file.to_csv('cleanDatasets/coaches_and_awards.csv', index=False)
series_post_file.to_csv('cleanDatasets/series_post.csv', index=False)